mat-toolbar{
    position: fixed;
    top: 0; /* Sets the sticky toolbar to be on top */
   z-index: 10000;/* Ensure that your app's content doesn't overlap the toolbar */
}
a{
    text-decoration: none;
    color: black;
}
.nav a{
    font-size: 1rem;
    font-weight: 400;
}
.example-spacer {
    flex: 1 1 auto; 
}

.nav a:hover{
    color: darkslateblue;
}
.language{
    margin-top: 2.5vh;
    margin-right: 1%;
}